.container-home{
    width: 100%;
    height: 800px;
   
    background-image: url("https://img.freepik.com/vector-premium/ecualizador-musica-fondo-abstracto-ondas-sonido-diferentes-eventos-alegres-ilustracion-vectorial-eps-10-puede-utilizar-plantilla-presentacion-diseno-folleto-portada-revista-moskup_299644-2095.jpg?w=2000");
    background-size: contain;
    background-size: 100%;
}
